* {
    margin: 0;
    padding: 0;
}


body{
    background-image: url('/static/img/subtle-mosaic-pattern.png');    
}



.material-symbols-outlined{
    font-size: 40px;
    padding: 10px;
}
.material-symbols-rounded{
   
}
.material-symbols-outlined.md-24{
    font-size: 24px;
}
.nav-item{
    
}

.nav-item:hover{
    
}

.navbar-nav{
    
}

@media all and (max-width:991px){
    .nav-item:hover{
    
}
}
.form-inline{
    font-size: 16px;
}

.product_title{
    font-size: 32px;
    letter-spacing: .1em;
    padding-top: 15px;
    padding-bottom: 10px;
}
.product_desc{
    letter-spacing: .1em;
    font-size: 26px;
}
.product_text{
    padding-right: 20px;
}
.product_img{
    
}
.product_price{
    font-size: 24px;
    color: green;
}

/* Style for signup */

.errorlist li{
    color: red;
    font-weight: bold;
}

.custom_div{
    margin-bottom: 20px !important;
}




