<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
</head>
<body>

    {% extends 'header.html' %}
    {% block content %}


    <H1>Oleh Matskiv</H1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem fuga, soluta eveniet harum ipsam iusto, nostrum assumenda enim expedita aliquam repudiandae pariatur est! Eaque dolor nesciunt aspernatur. Exercitationem, aut dolorum!</p>
    {% endblock %}
</body>
</html>