<nav class="navbar navbar-expand-lg bg-dark-subtle shadow-sm mb-5">
    <div class="container-fluid fs-5">
        <a class="navbar-brand " href="#"><span class="material-symbols-outlined text-secondary ">
            shopping_cart
            </span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav  gap-4">
                <li class="nav-item dropdown">
                    <a  class="nav-link active text-secondary dropdown-toggle" aria-current="page" data-bs-toggle="dropdown" href="#">Categories</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Categories 1</a></li>
                        <li><a class="dropdown-item" href="#">Categories 2</a></li>
                        <li><a class="dropdown-item" href="#">Categories 3</a></li>
                    </ul>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-secondary" href="#">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="#">About</a>
                </li>
            </ul>
            <form class="form-inline">
                <div class="input-group">
                    <input type="text" name="Search">
                    <div>
                        <button><span class="material-symbols-outlined md-24">
                            manage_search
                            </span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</nav>