
    {% extends 'base.html' %}
    {% load static %}
    {% block title %} About Product {% endblock %}

    {% block content %}
<div class="container bg-dark-subtle border border-secondary">     
    <div class="container py-5">
        <div class="row mt-5">
            <div class="col-9 mx-auto col-md-9 my-3">
                <img class="product_img" src="{{product.image.url}}" alt="">
            </div>
        </div>
    </div>
    <div class="col-9 mx-auto col-md-9 my-3">
        <div>
            <h1 class="product_title">{{product.name}}</h1>
            <p class="product_price">{{product.price}} $</p>
            <p class="product_desc">Product Description</p>
            <p class="text-justify product_text">
                {{product.description}}
            </p>
            {% if product.stock <= 0 %}
            <p class="text-justify product_text mb-5">
                Out of Stock
            </p>
            {% else %}
            <a href="{% url 'add_cart' product.id %}">Add To Cart</a>
            {% endif %}
        </div>
    </div>
</div>
    {% endblock %}
